[Desktop Entry]
Encoding=UTF-8
Name=ChavezCoin
Comment=ChavezCoin P2P Cryptocurrency
Comment[fr]=ChavezCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ChavezCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/chavezcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/chavezcoin;
Categories=Office;
